{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <main class="container" id="account_index">

        <div class="row">
            <header id="infos" class="col-md-6">
{#                <img src="" alt="photo_profil">#}
                <svg height="160" width="160">
                    <circle cx="80" cy="80" r="60" stroke="white" stroke-width="2" fill="darkyellow" />
                    <text x="70" y="80" fill="white">BD</text>
                </svg>
                <h2>{{ app.user.firstname}} {{ app.user.lastname }}</h2>
                <h6>{{ app.user.email }}</h6>
                <h4>Program</h4>
            </header>

            <section id="quiz_check" class="carousel slide col-md-6">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#quiz_check" data-slide-to="0" class="active"></li>
                    <li data-target="#quiz_check" data-slide-to="1"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <article class="checklist">
                            <p>Je vérifie mes infos personnelles</p>
                            <p>Je m'informe sur les métiers</p>
                            <p>J'évalue mes connaissances</p>
                            <p>Je prépare mon entretien</p>
                        </article>
                    </div>
                    <div class="carousel-item">
                        <article class="quiz">

                        </article>
                    </div>
                </div>

            </section>
        </div>
        <section class="notes row">

        </section>

    </main>
{% endblock %}
