{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <div class="LT_page_name">
        <h2>{{ page_name }}</h2>
    </div>
    <main class="container" id="account_index">

        <header id="infos">
            <img src="" alt="photo_profil">
            <h2>Nom Prénom</h2>
            <h6>Email</h6>
            <h4>Program</h4>
        </header>

        <section class="carousel">
            <article class="checklist">

            </article>
            <article class="quiz">

            </article>
        </section>

        <section class="notes">

        </section>

    </main>
{% endblock %}
