{% extends 'base.html.twig' %}

{% block title %}Edition de question{% endblock %}

{% block body %}


    <div class="quizz-title">
    <h1>Edition de question</h1>
    </div>

    {{ include('question/_form.html.twig') }}

    <a href="{{ path('question_index') }}">back to list</a>

    {{ include('question/_delete_form.html.twig') }}
{% endblock %}

    {% block javascripts %}

        {{ include ('question/_methods_question.html.twig') }}
    {% endblock %}


