@import "vars";
@import "~bootstrap/scss/bootstrap";

// GENERAL CSS
body {
    background-color: $primary-color;
    width: 100%;
    font-family: 'Raleway';
    font-weight: 400;
}

header {
    width: 100%;
    position: fixed;
}

.LT_page_name {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $secondary-color;
    height: 200px;
    color: white;
}

.LT_page_name h2 {
    margin-top: 80px;
    font-family: 'Raleway Bold';
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    width: 100%;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

footer {

    /*Insert your content html for push footer at end*/
    display: block;
    width: 100%;
    bottom: 0;
    background-color: $secondary-color;
}

footer a {
    color: white;
    font-family: 'Raleway Bold';
}

// BUTTONS
.btn-round-darkblue {
    margin-top: 15px;
    background-color: $dark-blue;
    color: $primary-color;
    border-radius: 30px;
}

.btn-round-darkblue:hover {
    background-color: $dark-blue;
    color: $secondary-color;
}

.btn-show-more {
    width: 110px;
    text-align: center;
    box-shadow: black 0px 0px 5px 0px;
    margin: auto;
    border-radius: 0 0 5px 5px;
}

.btn:focus {
    box-shadow: none;
}

.content-container {
    width: 80%;
    margin: auto;
    box-shadow: black 0px 15px 15px -5px;

    iframe {
        width: 80%;
        max-width: 700px;
        height: 350px;
    }

    .btn-container {
        padding: 20px;
        text-align: center
    }
}

// VIDEO SECTION
.video-container {
    padding: 20px;
    text-align: center;
}

.video-title-container {
    text-align: center;
}

.video-script-container {

    #video-description-id {
        padding: 20px 0px;
        width: 75%;
        color: #1d2124;
        margin: auto;
        overflow: hidden;
        height: 100px;
        opacity: 0.8;
        transition: opacity 1s;
        box-shadow: inset black 0px -20px 20px -20px;
    }

    #video-description-id.is-active {
        height: auto;
        opacity: 1;
    }
}

// DESKTOP AND LARGE SCREEN
@media (min-width: 940px) {

    .container {
        max-width: 100%;
    }

    .navbar-light .navbar-nav .nav-link {
        color: black;
        font-family: 'Raleway Bold';
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        width: 200px;
        letter-spacing: 2px;
    }

    .navbar-light .navbar-nav .active > .nav-link {
        width: 87%;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        text-decoration: underline;
        color: black;
    }

    #nav-link-profil {
        display: none;
    }
}

// TABLET AND SMALL SCREEN
@media screen and (max-width: 940px) {

    li.nav-item {
        border-bottom: solid lightgrey;
    }

    li.nav-item:hover {
        background-color: $secondary-color;
        border-bottom: solid white;
    }

    .navbar-light .navbar-nav .nav-link {
        color: black;
        font-family: 'Raleway Bold';
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }

    .LT_logo_profil {
        display: none;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        text-decoration: none;
        color: white;
        border-bottom: none;
    }

    // VIDEO SECTION
    .content-container {
        iframe {
            height: 250px;
        }
    }
}

// PHONE AND EXTRA SMALL SCREEN
@media screen and (max-width: 720px) {

    // VIDEO SECTION
    .content-container {
        width: 100%;

        iframe {
            height: 160px;
        }
    }
}
