@import "vars";
@import "~bootstrap/scss/bootstrap";


/* GENERAL CSS */
body {
    background-color: $primary-color;
    width: 100%;
    font-family: 'Raleway', 'Montserrat', 'sans-serif';
    font-weight: 400;
}

header {
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
}

blockquote {
    font-style: italic;
    margin-left: 32px;
    border-left: 4px solid #CCC;
    padding: 10px;

    p {
        margin-bottom: 0;
    }
}

.opacity {
    opacity: 0.3;
}

.LT_page_name {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $secondary-color;
    height: 120px;
    color: $primary-color;
    margin-top: 80px;
}

.margin_top_navbar_admin {
    margin-top: 160px;
}

.LT_page_name h2 {
    font-family: 'Raleway Bold', 'Montserrat', 'sans-serif';
    font-weight: bold;
    margin-block-end: 0;
}

.navbar-light .navbar-nav .nav-link {
    width: 100%;
    color: black;
    font-family: 'Raleway Bold', 'Montserrat', 'sans-serif';
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.navbar {
    border-bottom: solid $secondary-color;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.navbar {
    height: 80px;
}

.nav_admin {
    background-color: $dark-blue;
    font-family: 'Raleway Bold', 'Montserrat', 'sans-serif';
    color: $primary-color;
    height: 80px;
    justify-content: end;

    .navbar-nav .nav-link {
        color: $primary-color;
    }

    .adminBar {
        display: none;
    }
}

footer {
    display: block;
    width: 100%;
    background-color: $secondary-color;
    position: absolute;
}

footer a {
    color: $primary-color;
}

/* BUTTONS */
.btn-round-darkblue {
    margin-top: 30px;
    background-color: $dark-blue;
    color: $primary-color;
    border-radius: 30px;
}

.btn-round-darkblue:hover {
    background-color: $dark-blue;
    color: $secondary-color;
}

.btn-round-danger {
    opacity: 0.8;
    margin-top: 30px;
    background-color: $red;
    color: $primary-color;
    border-radius: 30px;
    transition: opacity 0.5s ease-in-out;
}

.btn-round-danger:hover {
    opacity: 1;
    margin-top: 30px;
    background-color: $red;
    color: $primary-color;
    border-radius: 30px;
}

.btn-show-more {
    width: 110px;
    height: 30px;
    text-align: center;
    margin: auto;
    transition: border-bottom 0.5s;
}

.btn-show-more:hover {
    border-bottom: solid $dark-blue 1px;
}

.btn:focus {
    box-shadow: none;
}

.icone-btn {
    z-index: -1;
    position: absolute;
    height: 30px;
    width: 30px;
}

.icone-btn-container {
    display: flex;
    justify-content: flex-end;

    a {
        width: 30px;
        height: 30px;
        position: absolute;
    }
}

.form-section {
    margin: auto;
}

.content-container {
    width: 80%;
    margin: auto;
    box-shadow: black 0 15px 15px -5px;
    padding-bottom: 70px;

    iframe {
        width: 80%;
        max-width: 700px;
        height: 350px;
    }

    .btn-container {
        padding: 20px;
        text-align: center
    }
}

/* VIDEO SECTION */
.video-container {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.video-title-container {
    text-align: center;
}

.video-script-container {

    #video-description-id {
        padding: 20px 25px;
        width: 75%;
        color: #1d2124;
        margin: auto;
        overflow: hidden;
        height: 120px;
        box-shadow: inset black 0px -20px 55px -30px;
        border-radius: 5px;
    }

    #video-description-id.is-active {
        height: auto;
    }
}

.check-video {
    margin: auto;

    label {
        padding: 5px;
    }
}

/* VIDEO EDIT SECTION */
.video-form-label {
    margin: 0;
    font-weight: bold;
}

.cke_reset {
    min-height: 500px;
}

.ckeditor {
    margin: 10px auto;

    a.cke_button, .cke_combo {
        position: unset;
    }

    a.cke_button_disabled .cke_button_icon {
        opacity: 1;
    }
}

#quizz {
    .quizz-title {
        margin-top: 100px;
        text-align: center;

        ul {
            padding: inherit;
        }
    }

    .btn-quizz {
        background-color: $dark-blue;
        color: $primary-color;
        border-radius: 30px;
    }

    .btn-quizz:hover {
        background-color: $dark-blue;
        color: $secondary-color;
    }

    .quizz-container {

        margin-top: 30px;

    }

    .quizz-card {
        margin: 20px 0 20px 0;
        border: 2px solid $secondary-color;
        border-radius: 10px;
    }

    .quizz-proposition {
        display: inline-block;
    }

    .quizz-text {
        list-style-type: none;
        font-size: 1.2em;
        display: inline-flex;

        input {
            align-self: stretch;
            margin-right: 20px;
        }
    }

    .quizz-button {
        align-self: center;
        margin-bottom: 20px;
    }

    /* Customize the label (the container) */
    .quizz-radio {
        align-self: baseline;
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .quizz-radio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border: solid 1px $third-color;
    }

    /* On mouse-over, add a grey background color */
    .quizz-radio:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .quizz-radio input:checked ~ .checkmark {
        background-color: $secondary-color;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .quizz-radio input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .quizz-radio .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

// FAQ SECTION
.faq-search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto;

    .form-control {
        margin: 10px;
        width: 300px;
        border-bottom: solid $dark-blue;
    }

    .faq-form-btn-container {
        width: 100%;
        text-align: center;

        .btn-round-darkblue {
            margin-top: 20px;
            width: 230px;
        }
    }
}

#faq-result-length {
    text-align: center;
}

.faq-no-result {
    margin: 0;
    text-align: center;
}

.faq-card {
    padding: 15px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: black 0 0 15px -5px;
    border-top: solid $dark-blue;

    h3 {
        margin: 0;
        font-weight: bold;
        width: 92%;
    }

    .faq-answer-container {
        border-bottom: solid $secondary-color;

        p {
            margin: 0;
            padding: 15px;
        }

    }
}

// FAQ ADMIN SECTION
.faq-table {
    margin: 40px auto;
    text-align: center;

    input, textarea, select {
        margin-bottom: 15px;
    }

    textarea {
        height: 200px;
    }
}

.faq-created-at {
    margin: 0px auto 15px auto;
    text-align: center;
}

.faq-action-btn {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.faq-position-btn {
    width: 30px;
    height: 30px;
    border: solid black 1px;
    padding: 5px;
    margin: 5px 0;
}

.faq-arrow-container {
    display: flex;
    flex-direction: column;
}

.faq-position-btn-active:hover {
    border: solid $secondary-color 1px;
    padding: 4px;
}

.faq-up-btn {
    transform: rotate(180deg);
}

.faq-alert {
    ul {
        padding-left: 0;
    }

    li {
        list-style: none;
    }
}

.faq-tr:first-child {

    .faq-btn-up {
        pointer-events: none;
    }

    .faq-up-btn {
        opacity: 0.3;
    }

    .faq-up-btn:hover {
        padding: 5px;
        border: solid black 1px;
    }
}

.faq-tr:last-child {

    .faq-btn-down {
        pointer-events: none;
    }

    .faq-down-btn {
        opacity: 0.3;
    }

    .faq-up-btn:hover {
        padding: 5px;
        border: solid black 1px;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media (min-width: 992px) {


    .container {
        max-width: 100%;
    }

    .table {
        width: 80%;
    }

    .navbar-light .navbar-nav .nav-link {
        width: 200px;
        letter-spacing: 2px;
    }

    .navbar-light .navbar-nav .active > .nav-link {
        width: 87%;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        text-decoration: underline;
        color: black;
    }

    #nav-link-profil {
        display: none;
    }

    #navbarAdminNavDropdown .navbar-nav {
        background-color: $dark-blue;

        .nav-link {
            text-align: center;
        }

        .nav-link:hover {
            text-decoration: underline;
        }
    }
}

/* TABLET AND SMALL SCREEN */
@media screen and (max-width: 991px) {

    #navbarNavDropdown {
        z-index: 1;

        .navbar-nav {
            background-color: $primary-color;
        }
    }

    li.nav-item {
        border: 1px solid lightgrey;
    }

    li.nav-item:hover {
        background-color: $secondary-color;
        border-bottom: solid white;
    }

    .LT_logo_profil {
        display: none;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        text-decoration: none;
        color: $primary-color;
        border-bottom: none;
    }

    .nav_admin {

        .adminBar {
            display: block;
        }

        .navbar-toggler {
            margin: 11px 0;
        }

        #navbarAdminNavDropdown .navbar-nav {
            background-color: $dark-blue;

            .nav-link {
                text-align: center;
            }

            .nav-link:hover {
                background-color: $secondary-color;
                color : $dark-blue;
            }
        }
    }

    /* VIDEO SECTION */
    .content-container {
        iframe {
            height: 250px;
        }
    }

    // FAQ SECTION
    .faq-card {
        padding: 15px;
        margin: 20px auto;
    }
}

/* PHONE AND EXTRA SMALL SCREEN */
@media screen and (max-width: 720px) {

    /* VIDEO SECTION */
    .content-container {
        width: 100%;

        iframe {
            height: 160px;
        }
    }
}

#login_form, #register_form {
    margin: 50px auto;
    position: unset;

    button {
        display: block;
        margin: 30px auto;
        padding: 10px 50px;
        border-radius: 30px;
    }

    .group_input {
        margin: 0 auto;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .form-control {
        margin: 10px auto;
        height: 50px;
    }

    p {
        text-align: center;
    }

    img {
        display: block;
        margin: 80px auto;
    }
}

#login_form {

    h5, h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .col-md-3 {
        margin: 0 auto;
    }
}

#register_form {

    .col-md-3 {
        margin: 50px auto;
    }

    ul {
        padding-left: 5px;

        li {
            list-style-type: none;
            color: darkred;
            font-size: 0.8em;
        }
    }
}

/* 'Sub-classes' of .LT_page_name
for login & register pages */
.LT_page_name_ter, .LT_page_name_bis {
    background-color: $secondary-color;
    color: $primary-color;

    h2 {
        text-align: center;
        padding-top: 30px;
    }
}

.LT_page_name_bis {
    height: 150px;
}

.LT_page_name_ter {
    height: 100px;
}

/* Administration_users */
.user_table {
    width: 100%;
    height: 400px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.table td {
    text-align: center;
    background-color: whitesmoke;
    border-bottom: 1px solid $third-color;
    color: black;
    font-family: 'Raleway', 'Montserrat', 'sans-serif';
}

.table td:hover {
    background-color: $primary-color;
    border-bottom: 1px solid $secondary-color;
}

.table .thead-light th {
    text-align: center;
    color: black;
    font-family: 'Raleway', 'Montserrat', 'sans-serif';
}

.table_user {
    width: 80%;
}
