@import "vars";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $primary-color;
    width: 100%;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
}

.LT_page_name {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $secondary-color;
    height: 200px;
    color: white;
}

.LT_page_name h2 {
    margin-top: 80px;
    font-family: 'Raleway Bold';
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    width: 100%;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

footer {
    /*Insert your content html for push footer at end*/
    display: block;
    width: 100%;
    bottom: 0;
    background-color: $secondary-color;
}

footer a {
    color: white;
    font-family: 'Raleway Bold';
}

@media (min-width: 940px) {

    .container {
        max-width: 100%;
    }

    .navbar-light .navbar-nav .nav-link {
        color: black;
        font-family: 'Raleway Bold';
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        width: 200px;
        letter-spacing: 2px;
    }

    .navbar-light .navbar-nav .active > .nav-link {
        width: 87%;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        text-decoration: underline;
        color: black;
    }

    #nav-link-profil {
        display: none;
    }
}

@media screen and (max-width: 940px) {

    li.nav-item {
        border-bottom: solid lightgrey;
    }

    li.nav-item:hover {
        background-color: $secondary-color;
        border-bottom: solid white;
    }

    .navbar-light .navbar-nav .nav-link {
        color: black;
        font-family: 'Raleway Bold', serif;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }

    .LT_logo_profil {
        display: none;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        text-decoration: none;
        color: white;
        border-bottom: none;
    }
}

#login_form {
    margin-top: 100px;
}

