{% extends 'base.html.twig' %}

{% block title %}FAQ - Nouvelle Question{% endblock %}

{% block body %}
    <div class="faq-action-btn">
        <a href="{{ path('faq_index') }}"><button class="btn btn-round-darkblue">Retour</button></a>
        <span class="empty"></span>
    </div>

    {{ include('faq/_form.html.twig') }}
{% endblock %}
